#selectable_layers .ui-selecting { background: #FECA40; }
#selectable_layers .ui-selected { background: #F39814; color: white; }
#selectable_layers { list-style-type: none; margin: 0; padding: 0; width: 90%; }
#selectable_layers li { margin: 3px; padding: 0.4em; font-size: 0.8em; height: 90px; }


.thecontent
{

    height: 800px;
    width: 1000px; 
    overflow: hidden;    
    margin: 1%;
    z-index: 1;
}


.thecontent #toolbar
{
    float: left; 
    height: 40px;
    width: 100%; 
    padding: 3px;
    overflow: hidden;
}


.ToolBarItem
{

}

#MapContainer
{
    float: left; 
    
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    
}


.maincontent
{
    float: none; 
    height: 800px;
    width: 100%; 
    overflow: hidden;    
    clear:both;
}


.ui-autocomplete {
		max-height: 150px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 20px;
	}

#ColorKeyContainer
{
    width: 100%;
    padding: 0px; 
    margin: 0px; 
    height: 24px; 
    overflow:hidden; 
    clear:both;
    
}

#ColorKey 
{
    float: right; 
}

#MutliLayerSelector
{
    width: 100%;
    padding: 0px; 
    margin: 0px; 
    height: 30px; 
    overflow:hidden; 
    clear:both;
}

#species
{
    padding: 0px;
    margin: 0px;
    
}



#MapLayers
{
    float: left; 
    height: 100%; 
    width: 450px; 
    overflow: hidden;    
}


#ToolBar 
{
    padding-top: 4px;
    padding-left: 4px;
    height: 44px;
}


#SpeciesBar
{
    padding-top: 4px;
    padding-left: 4px;
    height: 6.5%;
    width:100%;
    
}

#species_data
{
    height: 92%;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}




.species_container
{
    
}

.species_header
{
    height: 40px;
    font-size: 0.8em;
    width:100%;
    
}

.species_data
{
    height: 660px;
    overflow: auto;
}


#MapTools
{
    float:left;
    height: 40px;
}

