
/*
This will be used to override the Actions ooutput for TIME and just display simple liost of values
*/

/*
<div id="{DataName}" class="DescriptionCell" >
    <span class="DescriptionLink">{URI}</span><div class="DescriptionName">{DataName}</div>
    <div class="DescriptionText">{Description}</div>
    <div id="Selector{DataName}" class="DescriptionSelector" onclick="descriptionSelect('{DataName}');" ></div>
    <div class="DescriptionMoreInformation">{MoreInformation}</div>
</div>

*/

.DescriptionCell
{
/*  border-bottom: 2px solid black;
  border-right: 2px solid black;*/
  border-bottom: none;
  border-right: none;
  border-radius: 10px;
  display: block;
  width: 20%;
  height: 20px;
  float: none;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  overflow: hidden;

}

.DescriptionName
{
  height: 12pt;
  font-size: 12pt;
  width: 30%;
  overflow: hidden;
  font-weight: bold;
  
}

.DescriptionSelector
{
    border-radius: 10px;
    height: 80%;
    width:  40%;
    background-color: darkgreen;
    float:right;
    position: relative;
    top: -18px;
}

.DescriptionSelector:hover
{
    background-color: yellow;
}

.selected
{
    background-color: red;
}



/**
* Hidden
*/
.DescriptionText
{
    visibility: hidden;
   display:none;
   height: 12pt;
   width:  40%;
   font-weight: bold;
   font-size: 12pt;
   overflow: hidden;

}

.DescriptionLink
{
    visibility: hidden;
    display: none;
    overflow: hidden;
    float: left;
}

.DescriptionMoreInformation
{
    visibility: hidden;
    display: none;
    float: left;
    height: 50px;
    width:  90%;
    margin-right: 3%;
    padding-top: 10px;
    overflow: hidden;
}

.DescriptionText a
{
    visibility: hidden;
    display:none;
    color: darkgoldenrod;
    text-decoration: none;
}
