
root { 
    display: block;
}

/*
<div id="{ActionName}" class="ActionCell" >
    <div class="ActionName">{ActionName}</div>
    <div class="ActionDescription">{Description}</div>
    <div class="ActionButton"><input type="button" value="{Description}" name="button{ActionName}" id="button{ActionName}" onclick="action('{ActionName}')" ></div>
</div>
*/


.ActionCell
{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  display: block;
  width: 30%;
  height: 100px;
  float: left;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;

}

.ActionName
{
  display: none;
  height: 12pt;
  font-size: 12pt;
/*  width: 30%;*/
  float: left;
  overflow-wrap: hyphenate;
  overflow: hidden;
  font-weight: bold;
  padding-right: 10px;


}

.ActionDescription
{
    display: none;
   height: 12pt;
   width:  70%;
   float: left;
   font-weight: bold;
   font-size: 12pt;
   overflow: hidden;
   
}

.ActionButton
{
    width: 100%;
    height: 100%;

}

.ActionButton input
{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-weight: bold;
}


