
root { 
    display: block;
}

.ActionCell
{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  display: block;
  width: 30%;
  height: 30px;
  float: left;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;

}

.ActionName
{
  display: none;
  height: 12pt;
  font-size: 12pt;
/*  width: 30%;*/
  float: left;
  overflow-wrap: hyphenate;
  overflow: hidden;
  font-weight: bold;
  padding-right: 10px;


}

.ActionDescription
{
    display: none;
   height: 12pt;
   width:  70%;
   float: left;
   font-weight: bold;
   font-size: 12pt;
   overflow: hidden;

}

.ActionButton
{
    width: 100%;
    height: 100%;

}

.ActionButton input
{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-weight: bold;
}
/*
<div id="{DataName}" class="DescriptionCell" >
    <span class="DescriptionLink">{URI}</span><div class="DescriptionName">{DataName}</div>
    <div class="DescriptionText">{Description}</div>
    <div id="Selector{DataName}" class="DescriptionSelector" onclick="descriptionSelect('{DataName}');" ></div>
    <div class="DescriptionMoreInformation">{MoreInformation}</div>
</div>

*/

.DescriptionCell
{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  display: block;
  width: 90%;
  height: 20px;
  float: left;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  overflow: hidden;


}

.DescriptionName
{
  height: 12pt;
  font-size: 10pt;
/*  width: 30%;*/
  float: left;
  overflow-wrap: hyphenate;
  overflow: hidden;
  font-weight: bold;
  padding-right: 10px;

}

.DescriptionText
{
    display: none;
   height: 12pt;
   width:  70%;
   float: left;
   font-weight: bold;
   font-size: 12pt;
   overflow: hidden;

}

.DescriptionText a
{
    color: darkgoldenrod;
    text-decoration: none;
}

.DescriptionSelector
{

    border-radius: 10px;
    display: none;
    clear: left;
    float: left;
    height: 50px;
    width:  3%;
    padding-top: 10px;
    background-color: darkgreen;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}

.DescriptionSelector:hover
{
    background-color: red;
}

.DescriptionMoreInformation
{
    display: none;
    float: left;
    height: 50px;
    width:  90%;
    margin-right: 3%;
    padding-top: 10px;
    overflow: hidden;
}

.DescriptionLink
{
    display: block;
    overflow: hidden;
    float: left;
}


/**
* override this style to chnage what happens to items that are selected
* this will be added a secondary class
*/
.selected
{
    background-color: red;
}


.probabilityMapContainer
{
    width: 130px;
    height: 100px;
}

.probabilityMap
{
    width: 100%;
    height: 100%;
}


